$primary: #ffeaa7;
$secondary: #a29bfe;
$tertiary: #fab1a0;

$text: #2d3436;
$contrast: #dfe6e9;
$accent: #fdcb6e;

$multiplier: 1.3;

.keyhole {
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: $accent;
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
    z-index: 1;
}

.arrow {
    position: absolute;
    top: 72.5vh;
    left: 50%;
    z-index: 2;
    animation: float 1s ease-in-out infinite alternate both;

    svg {
        transform: rotate(90deg);
        stroke: $text;
        width: 2rem;
        margin-left: -1rem;
        height: auto;
    }
}

html {
    font-size: 100%;
}

body {
    font: 400 1.2rem/1.45 "Mulish", sans-serif;
    background: $contrast;
    color: $text;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "DM Serif Text", serif;
    line-height: 1;
    font-weight: 400;
}

@for $i from 1 through 5 {
    h#{$i} {
        font-size: #{$multiplier * (5 - $i)}rem;
    }
}

.section {
    &--primary {
        background: $primary;

        figure {
            position: relative;
            left: 50%;
            width: 100vw;
            transform: translateX(-50%);
            margin: 0 0 1em 0;

            img {
                width: 100%;
                object-fit: cover;
                min-height: 100vh;
            }
        }

        .section__content {
            padding-top: 0;
        }
    }

    &--secondary {
        background: $secondary;
    }

    &--tertiary {
        background: $tertiary;
    }

    &__content {
        max-width: 900px;
        margin: 0 auto;
        padding: 80px 40px;
    }
}

@keyframes float {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(50%);
    }
}